<footer style="background-color: #F2EAD3;">
    <div class="container-xxl flex-wrap pt-3 d-flex align-items-center justify-content-between" >
      <p>Copyright © 2023 Lucas Fair <a href="https://www.codingnepalweb.com/responsive-portfolio-website-html-bootstrap/" 
        style="color: #3F2305;"> Maquetado Original</a></p>
      <ul class="social-icons d-flex">
        <a href="https://github.com/LucasEsca" 
        class=" mx-2 text-white d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small>
          <i class="fa-brands fa-github" style="color: #3F2305;"></i></small></a>
        <a href="https://www.linkedin.com/in/lucasivanfair/" 
        class=" mx-2 text-white d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small>
          <i class="fa-brands fa-linkedin-in" style="color: #3F2305;"></i></small></a>
      </ul>
    </div>
   </footer>