<app-nav-bar />
<div class="background">
    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 2rem;">
                <div class="card-body p-5 text-left">
    
                  <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="name" style="color: whitesmoke;" >Anime Name</label>
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="anime.name">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="description" style="color: whitesmoke;">Description</label>
                        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="anime.description">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="url" style="color: whitesmoke;">Trailer Url</label>
                        <input type="text" class="form-control" id="url" name="url" [(ngModel)]="anime.url">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="img" style="color: whitesmoke;">Image</label>
                        <input type="file" class="form-control" id="img" name="img" [(ngModel)]="anime.img" 
                        accept=".jpg, .jpeg, .png">
                    </div>
                    <br>
                    <div class="Imagen">
                        <img [src]="" max-width="200px">
                    </div>
                    <br>
                    <button class="btn btn-success" type="submit" style="background-color:#2fac2b;">
                        <i class="bi bi-folder-plus"></i>Update
                    </button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

