.headerb {
    height: 100vh;
    background-image: url("src/assets/images/1315631.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  h1{
    font-family: 'Harajuku', harajuku-script;
  }