<app-nav-bar></app-nav-bar>
<body>
        <div class="area" >
          <ul class="circles">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
          </ul>
      </div >
          <div class="card">
 
            <div class="content">
              <div class="detail">
                <div class="box-list" >
                        <ul class="list-group list-group-flush">
                                <div class="list-title">
                                        <h1 class="animated-shadow" style="color: whitesmoke; padding: 1em;">Liked Animes</h1>
                                </div>
                                <div class="list-title">
                                        <h3 style="color: whitesmoke; padding: 1em;">Count of Liked Animes:</h3>
                                </div>
                                <li class="list-group-item" *ngFor="let img of animeimages  | paginate: {itemsPerPage: 5, currentPage: page }">{{img.name}}</li>
                              </ul>
                              <br>
      <pagination-controls (pageChange)="page = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>
                </div>
                <ul class="sci" style="padding: 1em;">
                  <li>
                    <a routerLink="/profile"><i class="fa-regular fa-address-card"></i></a>
                  </li>
                  <li>
                    <a routerLink="/seelater"><i class="fa-regular fa-clock"></i></a>
                  </li>
                  <li>
                      <a routerLink=""><i class="fa-solid fa-house-chimney"></i></a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </body>
        <app-footer></app-footer>