<div class="Info-Anime">
    <div class="image-box" >
        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" class="img-fluid rounded float-start"
        style="height: 15em;" />
</div>
<div class="text-box" >
    <h5 style="color: whitesmoke;">Descripcion:</h5>
<p style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus hic maxime ratione quia accusantium cupiditate. Illum delectus unde cumque, dolore ducimus repudiandae perspiciatis quisquam rerum iure rem cum facere eaque.</p>
</div>
</div>
