.card{
    margin: 2rem;
}

.img{
    margin-top: 10px;
}

.body{
    background-image: url(src\assets\images\1309150.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    
        background-image: linear-gradient(to right, black, grey, black);
        background-size: cover;
        background-repeat: no-repeat;
      
}