<section class="container py-5 body" id="body">
    <div class="row mt-4 py-3">
      <div class="col-12 d-flex flex-column text-center justify-content-center">
        <h2>SKILLS</h2>
        <h5 class="text-secondary fw-normal py-2 fst-italic">Continuously improving my skills and knowledge in the field.</h5>
      </div>
    </div>
    <div class="row d-flex justify-content-between mx-0">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/1315631.png" class=""  >
        <div class="card-body">
          <h5 class="card-title">Card with stretched link</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/images/1315631.png" class="card-img-top"  >
        <div class="card-body">
          <h5 class="card-title">Card with stretched link</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/images/1315631.png" class="card-img-top"  >
        <div class="card-body">
          <h5 class="card-title">Card with stretched link</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/images/1315631.png" class="card-img-top"  >
        <div class="card-body">
          <h5 class="card-title">Card with stretched link</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/images/1315631.png" class="card-img-top"  >
        <div class="card-body">
          <h5 class="card-title">Card with stretched link</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/images/1315631.png" class="card-img-top"  >
        <div class="card-body">
          <h5 class="card-title">Card with stretched link</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/images/1315631.png" class="card-img-top"  >
        <div class="card-body">
          <h5 class="card-title">Card with stretched link</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/images/1315631.png" class="card-img-top"  >
        <div class="card-body">
          <h5 class="card-title">Card with stretched link</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
    </div>
  </section>