<footer style="background-color: #000000;">
    <div class="container-fluid flex-wrap pt-3 d-flex align-items-center justify-content-between" >
      <p>Copyright © 2023 Lucas Fair <a href="" style="color: #ffffff;"> About</a></p>
      <ul class="social-icons d-flex">
        <a href="https://github.com/LucasEsca" 
        class=" mx-2 text-white d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small>
          <i class="fa-brands fa-github" style="color: #ffffff;"></i></small></a>
        <a href="https://www.linkedin.com/in/lucasivanfair/" 
        class=" mx-2 text-white d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small>
          <i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></small></a>
      </ul>
    </div>
   </footer>