
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="padding-left: 2%;">
      <li class="nav-item" >
        <button class="nav-link" routerLink="">Home</button>
      </li>
      <li class="nav-item">
        <button class="nav-link"  (click)="enter()" *ngIf="!isLogged">Enter with User</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" (click)="onLogOut()" *ngIf="isLogged">Log Out</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" routerLink="/createAnime" *ngIf="isLogged">Create Anime</button>
      </li>
      <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle" hr="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="isLogged">
          Profile</button>
       <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item nav-link text-center" *ngIf="isLogged" routerLink="/profile">Edit Profile</a></li>
          <li><a class="dropdown-item nav-link text-center" *ngIf="isLogged" routerLink="/liked">Liked</a></li>
          <li><a class="dropdown-item nav-link text-center" *ngIf="isLogged" routerLink="/seelater">See Later</a></li>
        </ul>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" style="padding-right: 2%;" >
      <input class="form-control mr-sm-2" type="text"
      placeholder="Buscar.."
      [(ngModel)]="filterpost"
      name="filterpost">
      <button class="btn btn-outline-danger my-2 my-sm-0" style="color: whitesmoke;" type="submit">Search</button>
    </form>
  </div>
</nav>