      <!-- Topic Cards -->
      <div id="cards_landscape_wrap-2" >
        <div class="container">
            <div class="row">
              <tr *ngFor="let Anime of anime">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card-flyer" routerLink="/infoAnime/{{Anime.id}}">
                              <div class="text-box">
                                  <div class="image-box">
                                          <img src={{Anime.img}} alt="" />
                                  </div>
                                  <div class="text-container">
                                      <td>
                                          <h6>{{Anime.name}}</h6>
                                      </td>
                                          <td>
                                              <p>{{Anime.description}}</p>
                                          </td>
                                      </div>
                               </div>
                      </div>
                </div>
              </tr>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </div>